<section>
  <h1>techno-genous</h1>
  <div class="pronounciation">
    adjective -
    \tek-nō-jə-nəs\
  </div>
  Of or pertaining to a process or substance created by human technology; technogenic, anthropogenic, manmade.
</section>

<section>
<div class="yell">Your kids will live in the future.</div>
They’ll need Internet literacy skills and deep knowledge of the digital devices and networks that are already ubiquitous today. They’re not going to learn those things in school. <a href="http://www.technogeno.us/2012/09/30/teaching-technology-literacy-is-your-problem/">It’s your problem to teach them.</a>
</section>
